/* password generator */
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}
.container {
    /* border: 2px solid sienna; */
    width: 50%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    background-color: #808D7C;
}
.container h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F6E96B;
    font-size: 28px;
    margin: 0px 0px 20px 0px;
}
.result {
    /* border: 2px solid slateblue; */
    width: 60%;
    height: 40px;
    border: 1px solid #333;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.res-text {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
}
.res-text:focus {
    outline: none;
}
.result .copy {
    color: #A02334;
    /* color: #FFAD60; */
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.input-box {
    width: 70%;
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}
.input-box label {
    text-transform: capitalize;
    letter-spacing: 1px;
}
#number, #special-char {
    /* border: 2px solid saddlebrown; */
    width: 28px;
}
#range {
    /* border: 2px solid saddlebrown; */
    width: 60%;
    margin: 6px auto;
    color: #387F39;
}
.range-res {
    padding: 8px;
    border: 2px solid #333;
    border-radius: 6px;
    width: 15%;
    text-align: center;
}
.generate {
    border: none;
    border-color: #A02334;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #387F39;
    width: 25%;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
/* alert color */
.alertYellow {
    background-color: #387F39;
}

/* mobile view */
@media(max-width: 576px) {
    .container {
        width: 90%;
        height: 80vh;
    }
    .container h2 {
        text-align: center;
        font-size: 24px;
        line-break: auto;
        letter-spacing: 2.2px;
        margin: 10px 20px 30px 20px;
    }
    .result {
        /* border: 2px solid sienna; */
        width: 85%;
        height: 50px;
    }
    /* .res-text {
        border: 2px solid seagreen;
    } */
    .result .copy {
        font-size: 20px;
        font-weight: 900;
    }
    .input-box {
        /* border: 2px solid springgreen; */
        width: 85%;
        display: flex;
        column-gap: 10px;
        font-size: 20px;
        margin: 6px auto;
    }
    .input-box #range {
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }
    .input-box .range-res {
        margin: 0 auto;
    }
    .input-box label {
        margin: 6px 0px;
        font-size: 22px;
    }
    .generate {
        width: 43%;
        font-size: 20px;
    }
}